body
{
    background-color:aquamarine;
}

#Score
{
    font-size: 20px;
    margin-left: 20px;
}

#Time
{
    font-size:20px;
    margin-right: 60px;
}

#Drawn
{
    color:rgb(255, 89, 0);
    font-size: 20px;

}
